<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TITLE -->
	<title>NUSKUS-IVLE</title>
	<!-- CSS -->
	<link href="../../resource/css/bootstrap.css" rel="stylesheet">
	<link href="../../resource/css/freelancer.css" rel="stylesheet">
	<link href="../../resource/css/main.css" rel="stylesheet">
	<!-- FONT -->
	<link href="../../resource/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

<section class="navigation-bar">
	<nav class="navbar navbar-default navigation-bar">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navigation-bar-option">
					<li><a href="#">학업</a></li>
					<li><a href="#">기숙사</a></li>
					<li><a href="#">설명회</a></li>
					<li><a href="#">교환학생</a></li>
					<li><a href="#">인턴쉽</a></li>
					<li><a href="#">입학</a></li>
				</ul>
			</div>
		</div>
	</nav>
</section>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-2 post-sidebar">
				<div class="post-sidebar-directory">
					<!-- <div class="post-sidebar-title">Directory</div> -->
					<div class="post-sidebar-option">학업</div>
					<div class="post-sidebar-option">기숙사</div>
					<div class="post-sidebar-option">설명회</div>
					<div class="post-sidebar-option">교환학생</div>
					<div class="post-sidebar-option">인턴쉽</div>
					<div class="post-sidebar-option">입학</div>
				</div>
			</div>
			<div class="col-lg-10 col-md-10 post-content">
				<div class="post-content-panel">
					<h3>WebCast</h3>
					<br><br>
					NUS는 혹시라도 학생들이 수업에 못가거나 내용이 이해 안갈때를 대비해서 수업을 녹음한뒤 수업을 다시 듣게 할수 있는 그런 기능이 있습니다. 이것을 Webcast라고 하는데요. 어떻게 Webcast를 들을수 있는지 알아봅시다.
					<br><br>
					일단 IVLE에 들어가서 과목을 웹카스트를 듣고자 하는 과목을 클릭합시다
					<br><br>
					그후 멀티미디아를 클릭하면
					<br><br>
					<div class="post-content-img ivle-img">
					</div>
					<br><br>
					과목을 한번 더 클릭후에 웹카스트를 보실수 있습니다. 참 쉽죠잉
					<br><br>
					일단 IVLE에 들어가서 과목을 웹카스트를 듣고자 하는 과목을 클릭합시다
					<br><br>
					그후 멀티미디아를 클릭하면
					<br><br>
					과목을 한번 더 클릭후에 웹카스트를 보실수 있습니다. 참 쉽죠잉
					<br><br>
					일단 IVLE에 들어가서 과목을 웹카스트를 듣고자 하는 과목을 클릭합시다
					<br><br>
					그후 멀티미디아를 클릭하면
					<br><br>
					과목을 한번 더 클릭후에 웹카스트를 보실수 있습니다. 참 쉽죠잉
					<br><br>
					일단 IVLE에 들어가서 과목을 웹카스트를 듣고자 하는 과목을 클릭합시다
					<br><br>
					그후 멀티미디아를 클릭하면
					<br><br>
					과목을 한번 더 클릭후에 웹카스트를 보실수 있습니다. 참 쉽죠잉
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 footer-content">
				<div class="footer-text-box">
					About <br>
					Contact <br>
					Facebook <br>
					Twitter <br>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 footer-content">
				<div class="footer-copyright">
					NUSKUS 페이지는 NUS학생들의 정보 공유를 위해 만들어졌습니다. NUSKUS의 모든 컨텐츠는 NUSKUS에게 소유권이 있으며, 욕설, 광고 및 비방이 금지되어 있으며 이를 어길시에는 관리자의 지시 아래 경고없이 삭제될수도 있습니다. 현재학생 혹은 미래의 재학생들을 위한 공간입니다. 서로의 의견을 존중해주시기 바랍니다. 
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
</html>