<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TITLE -->
	<title>NUSKUS</title>
	<!-- CSS -->
	<link href="../resource/css/bootstrap.css" rel="stylesheet">
	<link href="../resource/css/freelancer.css" rel="stylesheet">
	<link href="../resource/css/main.css" rel="stylesheet">
	<!-- FONT -->
	<link href="../resource/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

<header class="nus-img">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 tall-header-content ">
				<div class="header-text">
					<h1>NUSKUS</h1>
					<span class="header-intro">누스쿠스에 오신걸 환영합니다!</span>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="selection-card-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 selection-card-content">
				<a href="./academic.html">
				<div class="selection-card-item academic-img">
					<div class="selection-card-text">
						<h2>학업</h2>
					</div>
				</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 selection-card-content">
				<div class="selection-card-item residence-img">
					<div class="selection-card-text">
						<h2>기숙사</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 selection-card-content">
				<div class="selection-card-item seminar-img">
					<div class="selection-card-text">
						<h2>설명회</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 selection-card-content">
				<div class="selection-card-item exchange-img">
					<div class="selection-card-text">
						<h2>교환학생</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 selection-card-content">
				<div class="selection-card-item internship-img">
					<div class="selection-card-text">
						<h2>인턴쉽</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 selection-card-content">
				<div class="selection-card-item admission-img">
					<div class="selection-card-text">
						<h2>입학</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 footer-content">
				<div class="footer-text-box">
					About <br>
					Contact <br>
					Facebook <br>
					Twitter <br>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 footer-content">
				<div class="footer-copyright">
					NUSKUS 페이지는 NUS학생들의 정보 공유를 위해 만들어졌습니다. NUSKUS의 모든 컨텐츠는 NUSKUS에게 소유권이 있으며, 욕설, 광고 및 비방이 금지되어 있으며 이를 어길시에는 관리자의 지시 아래 경고없이 삭제될수도 있습니다. 현재학생 혹은 미래의 재학생들을 위한 공간입니다. 서로의 의견을 존중해주시기 바랍니다. 
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
</html>